@model Lab2_PWA_Juegos.Models.EntranceModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar entrada</h1>

<h4>Modelo de Entrada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="EntranceID" type="hidden"/>
            </div>
            <select asp-for="ProductID" asp-items="@ViewBag.Products" class="form-control" readonly>
                <option value="">Seleccione</option>
            </select>
            <div class="form-group">
                <label asp-for="SupplierID" class="control-label">Proveedor</label>
                <select asp-for="SupplierID" asp-items="@ViewBag.Suppliers" class="form-select">
                    <option value="">Seleccione</option>
                </select>
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Cantidad</label>
                <input asp-for="Quantity" type="text" class="form-control" readonly />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label">Precio unitario</label>
                <input asp-for="UnitPrice" class="form-control" readonly />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">Total</label>
                <input asp-for="Total" class="form-control" readonly />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDate" class="control-label">Fecha</label>
                <input asp-for="EDate" class="form-control" />
                <span asp-validation-for="EDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        // Función para calcular el total
        function calculateTotal() {
            var quantity = parseInt(document.getElementById("Quantity").value);
            var unitPrice = parseFloat(document.getElementById("UnitPrice").value);
            var total = quantity * unitPrice;

            // Mostrar el total en el campo correspondiente
            document.getElementById("Total").value = total.toFixed(2);
        }

        // Event listener para calcular el total cuando cambian los valores de Quantity o UnitPrice
        document.getElementById("Quantity").addEventListener("change", calculateTotal);
        document.getElementById("UnitPrice").addEventListener("change", calculateTotal);
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
