@model Lab2_PWA_Juegos.Models.ProductsModel

@{
    ViewData["Title"] = "Editar producto";
}

<h1>Editar producto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ProductID" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="PName" class="control-label">Nombre del Producto</label>
                <input asp-for="PName" class="form-control" />
                <span asp-validation-for="PName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDescription" class="control-label">Descripción</label>
                <input asp-for="PDescription" class="form-control" />
                <span asp-validation-for="PDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Precio</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label">Existencias</label>
<<<<<<< HEAD
                <input type="text" asp-for="Stock" class="form-control" readonly />
=======
                <input type="text" asp-for="Stock" class="form-control" />
>>>>>>> 8512da874a2eb4796883b6cc317afd09b0057544
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierID" class="control-label">Proveedor</label>
                <select asp-for="SupplierID" asp-items="@ViewBag.Suppliers" class="form-select">
                    <option value="">Seleccione</option>
                </select>
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

